In [1]:
from bs4 import BeautifulSoup
import requests
import smtplib
import time
import datetime

In [2]:
URL = 'https://www.amazon.com/Funny-Data-Systems-Business-Analyst/dp/B07FNW9FGJ/ref=sr_1_3?customId=B0752XJYNL&dchild=1&keywords=data+analyst+tshirt&qid=1626655184&sr=8-3&th=1'

headers = {"User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/124.0.0.0 Safari/537.36", "Accept-Encoding":"gzip, deflate", "Accept":"text/html,application/xhtml+xml,application/xml;q=0.9,*/*;q=0.8", "DNT":"1","Connection":"close", "Upgrade-Insecure-Requests":"1"}

page = requests.get(URL, headers = headers)

soup1 = BeautifulSoup(page.content, 'html.parser')

#print(soup1)
soup2 = BeautifulSoup(page.content, 'html.parser')

price = soup2.find(class_ ="a-price aok-align-center reinventPricePriceToPayMargin priceToPay").get_text()

title = soup1.find(id = 'productTitle').get_text()


print(title)
print(price)

        Funny Got Data MIS Data Systems Business Analyst T-Shirt
 $16.99

In [3]:
price = price.strip()[1:]

title = title.strip()


print(title)
print(price)

Funny Got Data MIS Data Systems Business Analyst T-Shirt
16.99

In [4]:
import datetime

today = datetime.date.today()

print(today)

2024-04-28

In [5]:
import csv

header = ['Title', 'Price','Date']
data = [title,price,today]

with open('AmazonWebScraper.csv', 'w', newline= '', encoding='UTF8') as f:
    writer = csv.writer(f)
    writer.writerow(header)
    writer.writerow(data)

In [22]:
import datetime

today = datetime.date.today()

print(today)

2024-04-28

In [6]:
import pandas as pd

df = pd.read_csv(r"C:\Users\delig\AmazonWebScraper.csv")

print(df)

                                               Title  Price        Date
0  Funny Got Data MIS Data Systems Business Analy...  16.99  2024-04-28

In [43]:
print(df)

                                               Title  Price        Date
0  Funny Got Data MIS Data Systems Business Analy...  16.99  2024-04-28

In [53]:
#Now we are appending data to the CSV

with open('AmazonWebScraper.csv', 'a+', newline= '', encoding='UTF8') as f:
    writer = csv.writer(f)
    writer.writerow(data)

In [55]:
pd.set_option('display.max.rows',20)

print(df)

                                    Title;Price;Date
0  Funny Got Data MIS Data Systems Business Analy...
1  Funny Got Data MIS Data Systems Business Analy...
2  Funny Got Data MIS Data Systems Business Analy...
3  Funny Got Data MIS Data Systems Business Analy...

In [7]:
def check_price():
    URL = 'https://www.amazon.com/Funny-Data-Systems-Business-Analyst/dp/B07FNW9FGJ/ref=sr_1_3?customId=B0752XJYNL&dchild=1&keywords=data+analyst+tshirt&qid=1626655184&sr=8-3&th=1'

    headers = {"User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/124.0.0.0 Safari/537.36", "Accept-Encoding":"gzip, deflate", "Accept":"text/html,application/xhtml+xml,application/xml;q=0.9,*/*;q=0.8", "DNT":"1","Connection":"close", "Upgrade-Insecure-Requests":"1"}

    page = requests.get(URL, headers = headers)

    soup1 = BeautifulSoup(page.content, 'html.parser')

    #print(soup1)
    soup2 = BeautifulSoup(page.content, 'html.parser')

    price = soup2.find(class_ ="a-price aok-align-center reinventPricePriceToPayMargin priceToPay").get_text()

    title = soup1.find(id = 'productTitle').get_text()
    
    price = price.strip()[1:]
    title = title.strip()
    
    import datetime

    today = datetime.date.today()

    import csv

    header = ['Title', 'Price','Date']
    data = [title,price,today]

    with open('AmazonWebScraper.csv', 'a+', newline= '', encoding='UTF8') as f:
        writer = csv.writer(f)
        writer.writerow(data)

In [8]:
while(True):
    check_price()
    time.sleep(86400)

KeyboardInterrupt:

In [9]:
import pandas as pd

df = pd.read_csv(r"C:\Users\delig\AmazonWebScraper.csv")

print(df)

                                               Title  Price        Date
0  Funny Got Data MIS Data Systems Business Analy...  16.99  2024-04-28
1  Funny Got Data MIS Data Systems Business Analy...  16.99  2024-04-28
2  Funny Got Data MIS Data Systems Business Analy...  16.99  2024-04-28
3  Funny Got Data MIS Data Systems Business Analy...  16.99  2024-04-28
4  Funny Got Data MIS Data Systems Business Analy...  16.99  2024-04-28
5  Funny Got Data MIS Data Systems Business Analy...  16.99  2024-04-28
6  Funny Got Data MIS Data Systems Business Analy...  16.99  2024-04-28
7  Funny Got Data MIS Data Systems Business Analy...  16.99  2024-04-28